:root {
  --background: #f1f1f1;
  --cardFooter: rgba(241, 241, 241, 0.5);
  --divider: #ebebeb;
  --shadow: rgba(51, 51, 51, 0.1);
  --white: #fff;
  --blue: #69a3ff;
  --orange: #ff9632;
  --red: #ed1946;
  --gray: #b4b4b4;
  --darkGray: #737c84;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  background: var(--background);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: 'Helvetica', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}
