main {
  height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
  margin: 0 auto;
  overflow-y: auto;
}

@media (max-width: 790px) {
  main {
    display: inline-block;
  }
}
